body{
    margin: 0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.Account-statistic-container{
    margin: auto;
    display: block;
    width: 93%;
    background-color: white;
    padding: 5px 5px;
    border-radius: 2rem;
    box-shadow: 10px 16px 8px 10px rgba(0,0,52);
    color: grey;
    font-size: 13px;

}

@media screen and (min-width: 600px){
    .Account-statistic-container {
        width: 80%;
    }
}
.Account-statistic-container h1{
    border-bottom: 6px solid rgb(0,0,52);
    color: grey;
    font-size: 15px;
}
.Account-statistic-container h2{
    font-size: 13px;
}
.Account-statistic-container input[type=email]{
    padding: 8px 8px;
    width: 80%;
    border: 2px solid #ccc;
    font-size: 18px;
    border-radius: 2rem;
    outline: 0px;
}

.openBtn{
    padding: 7px 7px;
    border-radius: 2rem;
    text-align: center;
    color: white;
    background-color: rgb(0,0,56);
    width: 60%;
    cursor: pointer;
}
@media screen and (min-width: 600px){
    
.Account-statistic-container input[type=email]{
    font-size: 13px;
    width: 40%
}
.openBtn{
  width: 40%;
}
}
.Dark-mode{
    background-color: rgb(0,0,20);
    color: white;
}
.Dark-mode .Account-statistic-container{
    background-color: rgb(0,0,56);
    color: white;
}
.Dark-mode .openBtn{
    background-color: rgb(0,0,180);
}
.Dark-mode .Account-statistic-container input{
    background-color: #f1f1f1;
}