body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      font-size: 13px; 
  }
   
  .form-container-fluid{
  color: black;
  padding: 8px 8px;
  margin-bottom: 10px;
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
  margin: auto;
  width: 100%;
  display: block;
  }
 
  .form-container-fluid h2{
color: rgb(0,52,180);
  font-size: 15px;
  text-align: center;
  }
  .form-container-fluid p{
    text-align: center;
  }
  
  .form-container-fluid input[type=text],input[type=email],input[type=password],select{
  padding: 8px 8px;
  width: 80%;
  border: 2px solid #ccc;
  font-size: 18px;
  outline: none;
  margin: auto;
  display: block;
  border-radius: 2rem;
  }
  .form-container-fluid label{
    margin: auto;
  display: block;
  text-align: center;
  }
  .form-container-fluid input[type=radio]{
      border: 2px solid red;
  }
  @media screen and (min-width: 600px){
      .form-container-fluid input[type=text],input[type=email],input[type=password],select{
          font-size: 12px;
          width: 60%;
      }
      
  }
  
  .form-container-fluid input[type=submit]{
  border: none;
  padding: 8px 7px;
  width: 65%;
  font-size: 15px;
  outline: none;
  background-color: rgb(0,0,100);
  color: white;
  margin: auto;
  display: block;
  border-radius: 2rem;
  cursor: pointer;
  }
  
  @media  screen and (min-width: 600px){
  .form-container-fluid {
  width: 60%;
  margin: auto;
  display: block;
  color: black;
  font-weight: bold;
  background-color: ;
  border-radius: 2rem;
  font-size: 13px;
  }
  .form-container-fluid a:link{
  color: red;
  }
  
  }
  
  .form-container-fluid a:link{
  text-decoration: underline;
  color: red;
  }
  .form-container-fluid a:visited{
  color: red;
  }
  
 /* The container must be positioned relative: */
.custom-select {
position: relative;
/*font-family: Arial;*/
margin: auto;
width: 80%;
}

.custom-select select {
display: none; /*hide original SELECT element: */
}
.select-selected {
background-color: mediumseagreen;
border-radius: 2rem;

}

/* Style the arrow inside the select element: */
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
color: #ffffff;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
}

/* Style items (options): */
.select-items {
position: absolute;
background-color: skyblue;
top: 100%;
left: 0;
right: 0;
z-index: 99;
border-radius: 2rem;
}

/* Hide the items when the select box is closed: */
.select-hide {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}
  @media screen and (min-width: 600px){
    .custom-select{
      width: 60%;
    }
  }
  
.validate-data-container{
  margin-bottom: -20px;
  margin-top: -10px;
  margin-left: 2px;
  }
  @media screen and (min-width: 600px){
    .validate-data-container{
      margin-left: 410px;
    } 
  }
  .validate-data-container h1{
    font-size: 17px;
    text-align: center;
  }
  .validate-data-container p{
    color: red;
  }
  .validate-data-container i{
    font-size: 17px;
  }
.error_message{
  text-align: center;
  color: red;
  margin: auto;
  display: block;
}
.Dark-mode{
background-color: rgb(0,0,20);
color: white;
}
.Dark-mode  .form-container-fluid{
color: white;
}

.Dark-mode  .form-container-fluid h2{
color: white;
}
.Dark-mode .Top-nav-bar{
color: white;
}

.Dark-mode .Top-nav-bar a:link,a:visited{
color: white;
}