.container-fluid-saved-overlay{
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgb(255,255,255);
    z-index: 2;
    overflow-y: scroll;
  }
  .container-fluid-saved{
text-align: center;
  }
  .container-fluid-saved p{
font-size: 18px;
  }
  .container-fluid-saved p b{
    cursor: pointer;
  }
  .container-fluid-saved p b:nth-child(1){
    margin-right: 10px;
    border-bottom:  6px solid rgb(0,0,56);
  }
  .saved-selector{

  }
  .saved-selector button{
    width: 100%;
    cursor: pointer;
    border: none;
    padding: -7px;
    background-color: #f1f1f1;
  }
  
  .saved-selector img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .recent-detail-container{
    display: none;
  }
  .option-container{
    top: 88%;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgb(255,255,255);
  }
  .option-container p{
    text-align: center;
    background-color: rgb(0,0,56);
    color: white;
    width: 60%;
    padding: 5px 5px;
    border-radius: 2rem;
    margin: auto;
    display: block;
    cursor: pointer;
    font-weight: bold;
  }
  @media screen and (min-width: 600px){
    .option-container p {
      width: 30%;
    }
  }
  .option-container p a:link,.option-container p a:visited{
    color: white;
    text-decoration: none;
  }