body{  
    margin: 0;
    font-size: 13px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
}
.form-container{
    margin: auto;
    width: 100%;
    text-align: center;

}
.form-container h1{
    font-size: 18px;
    text-align: center;
}
.form-container p:nth-child(2){
    font-weight: bold;
}
.form-container input[type=text], .form-container input[type=number],
.form-container input[type=numeric], .form-container textarea{
    padding: 8px 8px;
    border: 2px solid #ccc;
    margin: auto;
    display: block;
    border-radius: 2rem;
    background-color: #f1f1f1;
    outline: 0;
    width: 90%;
    font-size: 18px;
}
@media screen and (min-width: 600px){
    .form-container input[type=text], .form-container input[type=number],
    .form-container input[type=numeric], .form-container textarea{
        font-size: 13px;
        width: 60%;
    }

}
.procceed-btn{
    padding: 8px 8px;
    background-color: rgb(0,0,56);
    color: white;
    border-radius: 2rem;
    width: 65%;
    margin: auto;
    cursor: pointer;
}
@media screen and (min-width: 600px){
    .procceed-btn{
        width: 30%;
    }

}

@media screen and (min-width: 600px){

    
}
#copy-link,#share-btn{
    cursor: pointer;
}
.Dark-mode{
    background-color: rgb(0,0,20);
    color: white;
}
.Dark-mode .form-container{
    color: white;
}

.Dark-mode .form-container p:nth-child(2){
    background-color: #111;
}
.Dark-mode .form-container input,textarea{
    background-color: #ccc;
}