
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        font-size: 13px;
        text-align: justify;
     
    } 
    .Dark-mode{
        background-color: black;
        color: white;
    }
    .virtail-card-container{
    padding: 3px 3px;
    background-color: rgb(0,0,52);
    color: white;
    margin-bottom: 2px;
    }
    .virtail-card-container p{
        text-align: center;
        font-size: 13px;
    }
    .virtail-card-container a:link{
        color: white;
    }
     .virtail-card-container a:visited{
        color: white;
    }
    .virtail-card-container i{
        font-size: 10px;
        float: right;
        margin-top: 7px;
        cursor: pointer;
    }
    .virtail-card-container span{
        font-size: 13px;
        cursor: pointer;
    }
    
    .front-debit-card-fliud{
    margin-top: 2%;
    border-radius: 2rem;
    padding: 4px 4px;
    width: 90%;
    background-color: rgb(0,0,56);
    color: white;
    margin-bottom: 1px;
    font-size: 10px;
    margin-left: 7px;
    }
    @media screen and (min-width: 600px){
        .front-debit-card-fliud{
            width: 40%;
        }
    
    
    }
     .card-no{
    margin-top: 12px;
        text-align:center;
        letter-spacing: 5px;
     }
    
     .name{
        font-family: 'Tilt Prism', cursive;
        margin-left: 20px;
        letter-spacing: 4px;
        color: white;
     }
     .exp{
        font-family: 'Tilt Prism', cursive;
        margin-left: 20px;
    color: white;
     }
    
    
    
    .back-card-container{
    
        margin-top: 2%;
    border-radius: 2rem;
    padding: 4px 4px;
    width: 90%;
    background-color: rgb(0,0,56);
    color: white;
    margin-bottom: 1px;
    font-size: 10px;
    margin-left: 7px;
    }
    @media screen  and (min-width: 600px){
        
        .back-card-container{
            
            width: 40%;
        }
        
    }
    .back-card-container p:nth-child(3){
        text-align: center;
        font-family: cursive;
    }
    .black-spot{
    margin:auto;
        background-color: #333;
        width: 70%;
        padding: 8px 8px;
        text-align: center;
        letter-spacing: 5px;
        font-family: 'Tilt Prism', cursive;
    }/*
    .Dark-mode .Block-card-container{
        background-color: black;
        color: #666;
    }*/
    .Dark-mode{
        background-color: rgb(0,0,20);
        color: white;
    }
    
    .Block-card-container{
        margin-left: 7px;
        
    }
    .Block-card-container .submitForm{
        padding: 9px 9px;
        width: 60%;
        color: white;
        background-color: rgb(0,0,56);
        text-align: center;
        border-radius: 2rem;
        margin-bottom: 10px;
        cursor: pointer;
    }
    @media screen and (min-width: 600px){
    
        .Block-card-container .submitForm{
            width: 30%;
        }
        
    
    }
        input[type=text],input[type=number],select{
            width: 60%;
            padding: 8px 8px;
            display: block;
            border-radius: 2rem;
            border: 2px solid #ccc;
            background-color: #f1f1f1;
            font-size: 13px;
            border: 2px solid #ccc;
            outline: 0;
        }
    
        @media screen and (min-width: 600px){
    
    select{
        width: 30%;
    }
    
    
    }
    
    
        .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      float: right;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked + .slider {
      background-color: green;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
        